fastapi
uvicorn
sqlalchemy
psycopg2-binary
pgvector
python-dotenv
httpx
groq
langchain
langchain-huggingface
sentence-transformers
langchain-community
pypdf
python-docx
langchain-postgres
python-multipart
langchain-groq
psycopg[binary]
